/*
margin corresponde ao espaçamento externa da caixa em que o  elemento está até os cantos da página

padding corresponde ao  espaçomento interno do  em   elemento  relação  á sua própria caixa 
background corresponde ao fundo, no qual é possível colocar uma cor sólido única
ou em gradiente 

box-sizing: content-box não é uma boa prática, pois
ao aumenarmos uma imagem, por exemplo, ou qualquer outro
elemento, o que ocorre é que a caixa de contéudo (em que 
o elemento está) aumenta e não ele em si, causando possíveis
distorções. o ideal é utilizar box-sizing: border-box

utilizar o site: httpa://cssgradient.io/
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}



#menu a {
  color: rgb(0, 0, 0); /* Aplicar uma cor à fonte */
  font-family: "Roboto", sans-serif; /* Aplicar uma fonte */
  font-size: 17px; /* Aumentar o tamanho da fonte */
  text-decoration: none; /* tirar o sublinhado do link*/
  flex-direction: row; /* alinha um ao lado do outro */
  margin: 19px; /* atribuir uma margin a cada item */
  text-transform: uppercase;

}

/* Ao passar o mouse */
#menu a:hover {
  color: rgb(88, 5, 88);
}
header {
  background: linear-gradient(
    243deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(37, 42, 150, 1) 37%,
    rgba(252, 176, 69, 1) 100%
  );
   padding-bottom: 15;

}







.apresentacao {
  display: flex;

}

h1, span{
  font-size: 22px;
  color: rgb(88, 5, 88);
  font-family: "Roboto", sans-serif;
  line-height: 170%; 
}

 

.right {
  flex: 5;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.left {
  flex: 5;
  text-align: center;
}

.btn {
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding: 6px;
  border-radius: 5px;
  font-size:  14px;
}

.btncontact {
  background: rgba(255, 255, 255, 0.984);
  color: rgb(112, 31, 166, 0.984);
  margin-top: 30px;
}

.btncontact:hover {
  background: rgb(112, 31, 166, 0.984);
  color: white;

}

.socialmedia{
  text-decoration: none;
}
.socialmedia a{
  text-decoration: none;
}

.socialmedia p:hover{
  color:rgba(181, 185, 71, 0.984)
}
  

.containerServicos {
  background-color: rgba(0, 0, 0, 0.984);
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-top: -8px;

 

}

#servicos {
  color: rgb(0, 0, 0);
}

.itemServico1, .itemServico3, .itemServico6, .itemServico8 { 
border:1px solid purple;
color: black;
border-radius: 5px;
margin: 15px;
padding: 25px 10px;
text-align: center;
width: 20%;
}

.itemServico2, .itemServico4, .itemServico5, .itemServico7 {
  border:1px solid purple;
  border-radius: 5px;
  margin: 15px;
  padding: 25px 10px;
  text-align: center;
  width: 20%;

}

.containerServicos h2 {
  font-family: "Roboto", sans-serif;
 font-size: 18px;
 color: rgba(255, 255, 255, 0.984);

}



.containerServico img {
  width: 60px;
}

.itemServico1:hover, .itemServico3:hover, .itemServico6:hover, .itemServico8:hover {
  border: 1px solid rgb(88, 5, 88);
  background: rgb(12, 11, 11, 0.984);
  cursor: pointer;
}
.itemServico2:hover, .itemServico5:hover, .itemServico4:hover, .itemServico7:hover {
  border:1px solid rgba(83, 4, 48, 0.935);
  background:rgb(17, 15, 18);
  cursor: pointer;
 
  
}
  
html {
  scroll-behavior: smooth;
}

h3 {
 text-align: center;
 font-family: "Roboto", sans-serif;
 background: rgb(88, 5, 88);
 padding-top: 30px;
 padding-bottom: 30px;
 font-size: 16px;
 text-transform: uppercase;

}

.containersobremim{
  display: flex;
  background:rgb(255, 255, 255, 0.984);
  padding-bottom: 50px;
}

.containersobremim .left {
  background:rgb(255, 255, 255, 0.984);
  margin-right: 190px;
  margin-left: 120px;
  margin-top: auto;
  margin-bottom: auto;
  flex: 7;
  text-align: left;
  line-height: 30px;

}

.containersobremim .right {
 
  flex: 3;
}

#sobremim h3 {
  background: rgba(255, 255, 255, 0.984);
padding-top: 30px;
padding-bottom: 15px;
}

video {
  
  border-radius: 10px;
  padding-left: 25%;
  text-align: center;
  
}

.socialmedia {
  display: flex;
}

.socialmedia img {
  width: 30px;
}

.containersobremim h2 {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
}

.socialmedia p {
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15;
  color:rgb(85, 20, 20);

}

#contato{
  background: rgba(255, 255, 255, 0.984);
  font-family:"Roboto", sans-serif;
  color: rgb(0, 0, 0);

}

.contaneircontato h2 {
  font-size: 22px;
  color: rgb(0, 0, 0);
}

form {
font-style: 16px;
max-width: 500px;
padding-left: 50px;    /* adicionei aqui!*/
padding-bottom: 10px;  /* adicionei aqui */

}

input, textarea{
width: 200px;
padding: 10px;
color: black;
margin-bottom: 10px;     /* essa linha foi alterada!*/
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: 1px solid;

}

.displayContato{
   display: flex;
}

form h2 {
font-weight: 400;
 padding-top: 30px;
 padding-bottom: 30px;

}

.mensagem {
  margin-left: 60px;
}


textarea {
  resize: none;
  width: 350px;
  height: 100px;
  
}


.mensagem input {
   width: 150px;
   background: rgb(85, 20, 20);
   color: rgba(255, 255, 255, 0.984);
   cursor: pointer;
   font-family: "Roboto", sans-serif;

}

.mensagem input:houver{
  background:rgba(131, 58, 180, 1);
}


.mapa {
  margin-left: 90px;
}

iframe {
  border-radius: 5px;
  margin-top: -30px;
}


.navcolor{
  background-color: linear-gradiente
  90deg,px;
  background: linear-gradient(
    243deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(37, 42, 150, 1) 37%,
    rgba(252, 176, 69, 1) 100%
  );
  justify-content: center;
  
}

.container-fluid{
  background: linear-gradient(
    243deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(37, 42, 150, 1) 37%,
    rgba(252, 176, 69, 1) 100%
  );
   margin-top: -8px;
   margin-bottom: -8px;

} 

.navbar-toggler{
  border:1px solid transparent;
  margin: 7px;
}


.navbar {

 --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
 

